/* space-mono-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	src: url('https://loca7.fr/fonts/space-mono-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('https://loca7.fr/fonts/space-mono-v12-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('https://loca7.fr/fonts/space-mono-v12-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */ url('https://loca7.fr/fonts/space-mono-v12-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */ url('https://loca7.fr/fonts/space-mono-v12-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('https://loca7.fr/fonts/space-mono-v12-latin-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
}
